body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  margin-top: 50px;
  
}

.formname,h2{
  margin: auto;
  width: 60%;
  padding: 10px;
}

@media screen and (max-width: 567px){
  .formname,h2{
    margin: auto;
    width: 90%;
    padding: 10px;
  }
}
